@charset "UTF-8";

/* Typical device breakpoints

pequenas telas: ate 600px
celular: de 600px ate 768px
tablet: 768px ate 992px
desktop: 992px ate 1200px
grandes telas: acima de 1200px

*/
*{
    font-family: "Dancing Script", Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@media screen and (min-width: 830px) {

    div#principal_pg2 > h1{
        text-align: center;
    }

    div#principal_pg2{
        position: absolute;
        width: 800px;
        height: 500px;
    }

    div#principal_pg2 > img{
        width: 300px;
        height: 260px;
        left: 50%;
        top: 50%;

        transform: translate(72%, 5%);

    }

    div#principal_pg2 > p{
        text-align: center;
    }
    
    section#rede_social{
        text-align: left;
    }

    section#rede_social > a > img{
        margin: 10px;
        display: block;
        width: 50px;
        height: 50px;
        background-color: #8fe7fd00; 
        border-radius: 50px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.589);
        
    }

    section#rede_social img:hover{
        border: 2px solid white;
        
        transition: transform 0.3s;
        transform: translate(2px, -2px);
    
    }
}