@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to top, #8fe7fd, #ffcdd5 45%);
    height: 100vh;
    width: 100vw;
}

div#principal_pg2{
    background-color: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 350px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);

    transform: translate(-50%, -50%);
}

div#principal_pg2 > h1{
    text-align: center;
    padding: 50px;
}

div#principal_pg2 > img{
    width: 280px;
    height: 240px;
    padding-left: 68px;
}

div#principal_pg2 > p{
    text-align: center;
    padding: 50px;
}